$black: rgb(156, 151, 151);
$border-color:rgb(156, 151, 151);
$none-color: transparent;


$navbar-dark-color: $black;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color:  $none-color;

@import "node_modules/bootstrap/scss/bootstrap";

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-x: hidden;
}

/* ---------------- TOP SECTION------------- */
#topper{
  background: #F2F6FF;
  border-bottom: 1px solid #d8d6db;
  .top-sec{
    padding: 15px 32px;
    a{
      color: #57468b !important;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
      display: block;
      margin: 0px 0px 0px 24px;
    }
    i{
      color: #57468b;
      font-weight: 400;
      display: inline-block;
    }
    strong{
      display: block;
      padding-bottom: 5px;
      color: #232323;
      font-weight: 600;
    }
    span{
      display: block;
      color: #716c80;
    }
  }
}
hr{
  margin: 0px;
}


/* ------------------- NAVBAR SECTION----------------- */
#navbar-section{
  .navbar{
    background: #F2F6FF;
    padding: 0px 32px;
  }
  .nav-link{
    margin: 12px 20px;
    padding: 12px 0px;
    color: #57468b;
    font-size: 16px;
    text-transform: capitalize;
  }
  .navbar-toggler{
    margin: auto;
  }
  .btn{
    color: #fff;
    background-color: #bfceff !important;
    border: 2px solid #bfceff;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 6px 24px;
    margin: 0px 8px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
}

/* --------------HOME SECTION-------------- */
#home-section{
  background-image: url(../img/background110.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  .overley{
    background-color: rgba(0, 0, 0, .4);
    padding: 195px 15px;
  }
  h2{
    color: #ffff;
    font-size: 3.8rem;
    line-height: 1.2;
    font-weight: 400;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
  }
  h1{
    color: #fff;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    padding-bottom: 1rem;
    margin: 0rem 0rem .5rem 0rem;
  }
  p{
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 300;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    max-width: 635px;
    margin: auto;
  }
  .my-btn-one{
    color: #fff;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 1rem .5rem;
    background-color: #ff8a73;
    border: 2px solid #ff8a73;
    font-weight: 500;
    opacity: .9;
    letter-spacing: 1px;
    padding: .8rem 3rem;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
  
  .my-btn-two{
    color: #fff;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 1rem .5rem;
    background-color: #5580ff;
    border: 2px solid #5580ff;
    font-weight: 500;
    opacity: .9;
    letter-spacing: 1px;
    padding: .8rem 3rem;
    transition: all .5s;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }
  
}

/* ---------------SERVICE SECTION------------- */
#service-section{
  padding: 75px 30px;
  background: #e1e8ff;
  .col-md-4{
    padding: 0;
  }
  .service-inner{
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    padding: 32px 24px;
    i{
      padding: 0.6rem;
      margin-right: 1.5rem;
      border-radius: 8px;
      transition: all 0.3s;
      color: #ffffff;
      font-size: 1.5rem;
      background-color: #bfceff;
    }
    h4{
      color: #57468b;
      font-size: 1.5rem;
      padding: .5rem 0rem;
      margin-bottom: .7rem;
      line-height: 1;
    }
    p{
      color: #716c80;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1rem;
      line-height: 1.6;
      font-weight: 300;
    }
  }
  .service-inner:hover{
    background: #fff;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}

/* --------------SHORT NOTE SECTION----------------- */
#short-note{
  padding: 45px 0px;
  p{
    color: #716c80;
    font-size: 1.2rem;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: auto;
    padding: 0px 15px 0px 65px;
    border-left: 2px solid #efefef;
  }
}

/* ------------DEMO WORK SECTION---------------- */
#demo-work{
  padding: 0px 0px 60px;
  .col-md-4{
    padding: 16px;
  }
  .card{
    border: none;
    .card-body{
      padding: 32px 0px 0px 0px;
    }
    img{
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
}
    h4{
      color: #57468b;
      font-size: 1.5rem;
      padding: .5rem 0rem;
      margin-bottom: .7rem;
      line-height: 1;
    }
    p{
      color: #767676;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1rem;
      line-height: 1.6;
    }
    .btn{
      color: #57468b;
      font-weight: 500;
      letter-spacing: 1px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1rem;
      line-height: 1;
      padding: 0px;
      text-transform: uppercase;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
    }
    .btn:hover{
      color: #FF8A73;
    }
    i{
      padding: 3px 0px 0px 7px;
      font-size: 20px;
      transition: all .2s;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
    }
    .btn:hover i{
      transform: scaleX(1.3);
      -webkit-transform: scaleX(1.3);
      -moz-transform: scaleX(1.3);
      -ms-transform: scaleX(1.3);
      -o-transform: scaleX(1.3);
    }
  }
  .card:hover img{
    box-shadow: 20px 20px 20px #E4ECFF;
  }
}

/* -----------INNOVATIVE TECHNOLOGY------------ */
#innovative{
  background: #BFCEFF;
  padding: 30px 50px;
  .background{
    background: linear-gradient(#cdcfd3, #c1cef1, #829ae4);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .row{
    padding: 100px 0px;
  }
  img{
    border-radius: 10px;
    animation: line 4s ease-in-out infinite;
    
  }
  h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3.8rem;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 16px;
    margin-bottom: 8px;
    color: #232323;
  }
  p{
    color: #716c80;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  .my-btn-one{
    color: #fff;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 1rem .5rem;
    background-color: #ff8a73;
    border: 2px solid #ff8a73;
    font-weight: 500;
    opacity: .9;
    letter-spacing: 1px;
    padding: .8rem 3rem;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
  
  .my-btn-two{
    color: #fff;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 1rem .5rem;
    background-color: #5580ff;
    border: 2px solid #5580ff;
    font-weight: 500;
    opacity: .9;
    letter-spacing: 1px;
    padding: .8rem 3rem;
    transition: all .5s;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }
}

/* -------------------PROGRAMMING------------- */
#program{
  padding: 45px 0px 0px;
  .row{
    padding: 30px 0px 60px 0px;
  }
  p{
    color: #716c80;
    font-size: 1.2rem;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 16px 0px;
  }
  #program-col-one{
    h3{
      color: #bfceff;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 1rem;
      line-height: 1;
      text-transform: capitalize;
    }
    i{
      padding: 0px 12px 0px 0px;
      color: #bfceff;
      margin-bottom: 10px;
    }
    span{
      color: #716c80;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
  }

  #program-col-two{
    h3{
      color: #5580ff;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 1rem;
      line-height: 1;
      text-transform: capitalize;
    }
    i{
      padding: 0px 12px 0px 0px;
      color: #5580ff;
      margin-bottom: 10px;
    }
    span{
      color: #716c80;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
  }

  #program-col-three{
    h3{
      color: #ff8a73;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 1rem;
      line-height: 1;
      text-transform: capitalize;
    }
    i{
      padding: 0px 12px 0px 0px;
      color: #ff8a73;
      margin-bottom: 10px;
    }
    span{
      color: #716c80;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
  }

  #program-col-four{
    h3{
      color: #57468b;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 1rem;
      line-height: 1;
      text-transform: capitalize;
    }
    i{
      padding: 0px 12px 0px 0px;
      color: #57468b;
      margin-bottom: 10px;
    }
    span{
      color: #716c80;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
  }
}

/* ----------TECHNOLOGY SERVICE--------- */
#tech-service{
  padding: 180px 0px;
  background-color: #f2f6ff;
  .cotation{
    margin: 24px 0px;
  }
  h2{
    color: #57468b;
    line-height: 1.3;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 16px;
  }
  i{
    background-color: #bfceff;
    padding: 7px;
    margin-right: 24px;
    color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  span{
    font-size: 20px;
    text-transform: capitalize;
    color: #57468b;
    font-weight: 500;
    line-height: 1;
  }
}

/* ----------- LATEST TECHNOLOGY---------- */
#latest-tech{
  padding: 45px 0px;
  img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  h2{
    color: #000;
    line-height: 1.3;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    padding: 48px 0px 0px;
  }
  p{
    color: #716c80;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0px 0px 16px;
    padding: 24px 0px 0px;
  }
  .btn{
    color: #fff;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 1rem .5rem;
    background-color: #ff8a73;
    border: 2px solid #ff8a73;
    font-weight: 500;
    opacity: .9;
    letter-spacing: 1px;
    padding: .8rem 3rem;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
}

/* -----------CAROUSEL ITEM----------- */
#carousel-items{
  .overlay{
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    position: relative;
  }
  .inner-element{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .carousel-img-1{
    background: url(../img/background110.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 637px;
  }
  .carousel-img-2{
    background: url(../img/mbr-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 637px;
  }
  .carousel-img-3{
    background: url(../img/mbr-9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 637px;
  }
  h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3.8rem;
    line-height: 1;
    font-weight: 300;
    color: #fff;
  }
  p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 300;
    max-width: 870px;
    margin: auto;
  }
  .my-btn-one{
    color: #fff;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 1rem .5rem;
    background-color: #ff8a73;
    border: 2px solid #ff8a73;
    font-weight: 500;
    opacity: .9;
    letter-spacing: 1px;
    padding: .8rem 3rem;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
  
  .my-btn-two{
    color: #fff;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 1rem .5rem;
    background-color: #5580ff;
    border: 2px solid #5580ff;
    font-weight: 500;
    opacity: .9;
    letter-spacing: 1px;
    padding: .8rem 3rem;
    transition: all .5s;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }
}

/* ----------- MODERN TECHNOLOGY------------ */
#modern-tech{
  margin-top: 100px;
  p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #716c80;
  }
  .row{
    padding: 45px 0px;
  }
  .col-md-4{
    padding: 16px;
  }
  .card{
    border: none;
    .card-body{
      padding: 32px 0px 0px 0px;
    }
    img{
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
    }
    h3{
      color: #716c80;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1rem;
      font-weight: 500;
    }
    h4{
      color: #57468b;
      font-size: 1.5rem;
      padding: .5rem 0rem;
      margin-bottom: .7rem;
      line-height: 1;
    }
    p{
      color: #767676;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1rem;
      line-height: 1.6;
    }
    .btn{
      color: #57468b;
      font-weight: 500;
      letter-spacing: 1px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1rem;
      line-height: 1;
      padding: 0px;
      text-transform: uppercase;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
    }
    .btn:hover{
      color: #FF8A73;
    }
    i{
      padding: 3px 0px 0px 7px;
      font-size: 20px;
      transition: all .2s;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
    }
    .btn:hover i{
      transform: scaleX(1.3);
      -webkit-transform: scaleX(1.3);
      -moz-transform: scaleX(1.3);
      -ms-transform: scaleX(1.3);
      -o-transform: scaleX(1.3);
    }
    .para-card{
      padding: 35px 24px;
      background-color: #ff8a73;
      transition: all .5s;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
  }
    .para-card:hover{
      background: #57468b;
    }
    .para{
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1.5rem;
      padding: .5rem 0rem 1rem;
      margin-bottom: 0;
      color: #fff;
    }
  }
}



/* -----------PRICING TABLE------------ */
#pricing{
  .price-plans{
    padding: 45px 0px;
    background-color: #e1e8ff;
    h2{
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 3.8rem;
      line-height: 1.2;
      font-weight: 400;
      margin-bottom: .5rem;
      text-transform: capitalize;
      color: #fff;
    }
  }

  .pricing-card{
    padding: 30px 0px;
    .col-md-4{
      border: none;
      padding: 48px 24px;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
    }
    .col-md-4:hover{
      box-shadow: rgba(225, 232, 255, 1) 0px 7px 29px 0px;
    }
    .m-head{
      h4{
        color: #57468b;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 3.8rem;
        text-align: right;
        font-weight: 300;
        line-height: 1;
        margin-bottom: .5rem;
      }
      p{
        line-height: 1.5;
        color: #716c80;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        text-align: right;
        margin-bottom: .5rem;
      }
    }
    .m-body{
      strong{
        line-height: 1.5;
        color: #57468b;
        padding-top: 2rem;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1.2rem;
        text-transform: capitalize;
        display: block;
      }
      h4{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1.2rem;
        line-height: 1.5;
        color: #57468b;
        text-transform: capitalize;
        font-weight: 400;
        margin-bottom: .75rem;
      }
      p{
        color: #716c80;
        line-height: 2;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 1rem;
        text-transform: capitalize;
        width: 152px;
      }
      .my-btn-one{
        color: #fff;
        text-transform: uppercase;
        font-family: 'IBM Plex Sans', sans-serif;
        // margin: 1rem .5rem;
        background-color: #ff8a73;
        border: 2px solid #ff8a73;
        font-weight: 500;
        opacity: .9;
        letter-spacing: 1px;
        padding: .5rem 1.8rem;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
      }
      .my-btn-two{
        color: #fff;
        text-transform: uppercase;
        font-family: 'IBM Plex Sans', sans-serif;
        // margin: 1rem .5rem;
        background-color: #5580ff;
        border: 2px solid #5580ff;
        font-weight: 500;
        opacity: .9;
        letter-spacing: 1px;
        padding: .5rem 1.8rem;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
      }
      .my-btn-three{
        color: #fff;
        text-transform: uppercase;
        font-family: 'IBM Plex Sans', sans-serif;
        // margin: 1rem .5rem;
        background-color: #ff8a73;
        border: 2px solid #ff8a73;
        font-weight: 500;
        opacity: .9;
        letter-spacing: 1px;
        padding: .5rem 1.8rem;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
      }
    }
  }
}

/* ---------TABLE SECTION--------- */
#tableSection{
  padding: 60px 0px;
  .head-text{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #57468b;
    font-weight: 500;
    text-transform: capitalize;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
  }
  td{
    color: #716c80;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    text-transform: capitalize;
    border: 2px solid #e1e8ff;
  }
}

/*-------------- OUR TEAM SECTION---------- */
#our-team{
  padding: 60px 0px;
  h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: .5rem;
    text-transform: capitalize;
    color: #57468b;
    padding-bottom: 16px;
  }
  .card{
    padding: 42px;
    position: relative;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    img{
      width: 186px;
      height: 184px;
      opacity: 1;
      transition: .5s ease;
      backface-visibility: hidden;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    .inner-card{
      // width: 100%;
      // height: 100%;
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      text-transform: capitalize;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      h3{
        color: #57468b;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
      }
      p{
        display: block;
        color: #716c80;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        text-transform: capitalize;
        margin-bottom: 8px;
      }
      i{
        font-size: 16px;
        padding: 5px;
        margin: 3px;
        
      }
    }
  }
  .card:hover{
    box-shadow: rgba(167, 183, 236, 0.9) 0px 10px 25px;
  }
  .card:hover img {
    opacity: 0.3;
  }
  .card:hover .inner-card {
    opacity: 1;
  }
}

/* VERTICAL TABS */
#vertical-tab{
  padding: 60px 0px;
  .col-md-3{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .col-md-9{
    padding-left: 30px;
    padding-right: 0;
  }
  .nav-link{
    text-transform: capitalize;
    font-weight: 500;
    color: #57468b;
    font-style: normal;
    transition: all .5s;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
  }
  .tab-pane{
    color: #716c80;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.6;
  }
  .active{
    background: transparent;
    color: rgb(164, 182, 127);
  }
}


/* ------BACKGROUND IMAGE---------- */
#background-img{
  background-image: url(../img/background110.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .overlay{
    padding: 180px 0px;
    background-color: rgba(0, 0, 0, .4);
  }
  h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3.8rem;
    font-style: normal;
    line-height: 1.2;
    color: #fff;
    font-weight: 400;
    padding: 0px 0px 16px;
    margin: 0px 0px 8px;
  }
  p{
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.6;
    font-weight: 300;
    max-width: 540px;
    padding: 0px 0px 24px;
    margin: 0px 0px 16px;
  }
  .media{
    img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    .media-body{
      margin: 16px 0px;
      padding: 0px 0px 0px 32px;
      h3{
        color: #fff;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 0px 0px 8px;
        margin-bottom: 0;
      }
      h4{
        color: #fff;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0;
      }

    }
  }
}

/* ------CLINT REVIEW-------- */
#clint-review{
  padding: 45px 0px;
  .col-md-3{
    padding: 8px;
  }
  h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 400;
    padding: 0px 0px 16px;
    margin: 0px 0px 8px;
  }
  p{
    color: #716c80;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0px 0px 48px;
    margin: 0px 0px 16px;
  }
  .card{
    align-items: center;
    padding: 16px 0px;
    margin: 0px 0px 16px;
    border: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    img{
      width: 120px;
      width: 100px;
      display: inline-block;
    }
  }
  .card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

/* ----------QUESTION AND ANSWER BY ACCORDION-------- */
#accordion-section{
  padding: 60px 0px;
  h2{
    text-transform: capitalize;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 400;
    padding: 0px 0px 48px;
    margin: 0px 0px 8px;
    color: #57468b;
  }
  .card-header{
    padding: 0;
    background: transparent;
    a{
      text-decoration: none;
    }
    h4{
      color: #57468b;
      font-size: 1.5rem;
      margin: 16px 0px 8px;
      padding: 22px 25px;
    }
  }
  .card-body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    color: #767676;
    line-height: 1.5;
  }
}

/* ---------FORM SECTION--------- */
#form-fill{
  background-image: url(../img/background21.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .9;
  .overlay{
    padding: 105px 0px;
    background: rgba(0, 0, 0, .4);
  }
  h5{
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    padding: 0px 0px 32px;
    margin: 0px 0px 8px;
    text-align: center;
    font-weight: 300;
    text-transform: capitalize;
  }
  input, textarea{
    padding: 7px 22px;
    color: #C5C5C5;
    transition: 0.4s;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.43;
    border: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  input{
    min-height: 3.5em;
  }
  textarea{
    min-height: 9.063em;
  }
  .btn{
    color: #fff;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 1rem .5rem;
    background-color: #ff8a73;
    border: 2px solid #ff8a73;
    font-weight: 500;
    opacity: .9;
    letter-spacing: 1px;
    padding: .8rem 3rem;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
}

/* ---------FOOTER SECTION---------- */
#footer{
  background-color: #57468b;
  padding: 75px 0px;
  .social-logo{
    img{
      width: 64px;
      height: 64px;
      margin-bottom: 20px;
    }
    p{
      color: #fff;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 16px;
      line-height: 1.6;
    }
    a{
      text-decoration: none;
      display: inline-block;
      width: 45px;
      height: 45px;
      position: relative;
      margin: 0px 16px 16px 0px;
      background-color: #fff;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
}
    i{
      font-size: 21px;
      color: #57468b;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }

  .contact-info{
    h5{
      color: #fff;
      font-size: 20px;
      margin-bottom: 8px;
      padding-bottom: 16px;
      font-weight: 500;
      line-height: 1;
      text-transform: capitalize;
    }
    li{
      color: #fff;
      margin: 7px 0px;
      font-size: 16px;
    }
    span{
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 16px;
      line-height: 1.6;
      text-transform: capitalize;
      padding-left: 10px;
    }
  }

  .twitter-msg{
    p{
      color: #fff;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 16px;
      line-height: 1.6;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 16px;
      margin: 0px 0px 28px 0px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
    }
    i{
      font-size: 21px;
      color: #fff;
      background-color: #5580ff;
      padding: 10px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    span{
      color: #fff;
      margin-left: 10px;
      font-size: 19.5px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 500;
      line-height: 1;
      text-transform: capitalize;
    }
  }

  .app{
    h5{
      color: #fff;
      font-size: 20px;
      margin-bottom: 8px;
      padding-bottom: 16px;
      font-weight: 500;
      line-height: 1;
      text-transform: capitalize;
    }
    p{
      color: #fff;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 16px;
      line-height: 1.6;
      display: block;
    }
    a{
      text-decoration: none;
      display: inline-block;
      color: #fff;
      font-size: 16px;
      font-family: 'IBM Plex Sans', sans-serif;
      text-transform: capitalize;
      background-color: none;
      border: 2px solid #fff;
      padding: 10px 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
}
    i{
      font-size: 21px;
      padding-right: 5px;
    }
    a:hover{
      color: #000;
      background: #fff;
    }
  }
}





/* -------------------RESPONSIVE----------------- */
@media(max-width: 991px){
  #topper{
    display: none;
  }
  #short-note{
    p{
      border: none;
    }
  }
  #demo-work{
    .card{
      margin-bottom: 30px;
    }
  }
  #innovative{
    text-align: center;
    img{
      margin-top: 30px;
    }
  }
  #tech-service{
    img{
      margin-top: 30px;
    }
  }
  #modern-tech{
    .card{
      margin-bottom: 30px;
    }
  }
  #vertical-tab{
    text-align: center;
  }
}
@media(max-width: 767px){
  #navbar-section{
    .navbar{
      text-align: center;
      padding: 10px 0px;
    }
    .nav-link{
      margin: 5px 20px;
    }
    .btn{
      display: none;
    }
    .dropdown-item{
      text-align: center;
    }
  }

  /* HOME SECTION */
  #home-section{
    text-align: center;
    h2{
      font-size: 36px;
    }
    p{
      font-size: 19px;
      margin-bottom: 8px;
    }
  }

  /* SERVICE SECTION */
  #service-section{
    text-align: center;
    i{
      margin-bottom: 1rem;
    }
    h4{
      font-size: 19px;
      font-weight: normal;
    }
  }

  /* SHORT NOTE */
  #short-note{
    p{
      border-left: none;
      text-align: center;
      padding: 0px 15px;
    }

  }

  /* DEMO WORK */
  #demo-work{
    text-align: center;
    .card-body{
      h4{
        font-size: 19.8px;
      }
    }
  }

  /* INNOVATIVE TECHNOLOGY */
  #innovative{
    padding: 25px;
    text-align: center;
    .background{
      background: transparent;
    }
    h2{
      font-size: 37px;
    }
  }

  /* PROGRAM */
  #program{
    text-align: center;
  }

  /* TECHNOLOGY SERVICE */
  #tech-service{
    h2{
      font-size: 31px;
      text-align: center;
    }
  }

  /* LATEST TECHNOLOGY */
  #latest-tech{
    text-align: center;
    h2{
      font-size: 31px;
    }
  }

  /* CAROUSEL ITEM */
  #carousel-items{
    .inner-element{
      h2{
        font-size: 37px;
      }
      p{
        font-size: 19.7px;
        width: 300px;
      }
      .btn{
        margin-bottom: 8px;
      }
    }
  }

  /* MODERN TECHNOLOGY */
  #modern-tech{
    text-align: center;
    .card-body{
      h4{
        font-size: 19.7px;
      }
    }
  }

  /* PRICING TABLE */
  #pricing{
    .price-plans{
      h2{
        font-size: 36.88px;
      }
    }
    .pricing-card{
      text-align: center;
      .m-head{
        h4, p{
          text-align: center;
        }
      }
      .m-body{
        p{
          margin: auto;
        }
        strong{
          padding-top: 1rem;
        }
      }
      .btn{
        margin-top: 15px;
      }
      .card-margin{
        margin-top: 30px;
      }
    }
  }

  /* --------- OUR TEAM ---------- */
  #our-team{
    h2{
      font-size: 27.5px;
    }
    .card{
      margin: 10px 0px;
      padding: 12px 20px;
    }
  }

  /* ---------VERTICAL TABS----------- */
  #vertical-tab{
    text-align: center;
    .col-md-3{
      border-right: none;
    }
    .nav{
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .col-md-9{
      padding: 10px;
    }
  }

  /* ----------BACKGROUND IMAGE----------- */
  #background-img{
    text-align: center;
    h2{
      font-size: 31.68px;
    }
    p{
      font-size: 19.2px;
    }
    .media{
      .media-body{
        h3{
          font-size: 1.1rem;
          text-align: left;
        }
        h3, h4{
          max-width: 130px;
        }
      }
    }
  }

  /* --------CLINT REVIEW--------- */
  #clint-review{
    h2{
      font-size: 36px;
    }
  }

  /* --------QUESTION AND ANSWER BY ACCORDION---------- */
  #accordion-section{
    h2{
      font-size: 31px;
    }
    .card-header{
      h4{
        font-size: 19.8px;
      }
    }
  }

  /* ----------FORM FILL---------- */
  #form-fill{
    h5{
      font-size: 31px;
    }
  }

  #footer{
    text-align: center;
    .social-logo, .twitter-msg{
      margin-bottom: 30px;
    }
    .contact-info{
      margin-bottom: 40px;
      h5{
        margin-bottom: 5px;
        padding-bottom: 5px;
      }
      li{
        margin: 5px 0px;
      }
    }
    .app{
      h5{
        margin-bottom: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

